{% extends "cmsplugin_news/base.html" %}
{% load i18n static %}

{% block "breadcrumbs" %}
  {% if not team %}
    <a style="float: right; padding: 5px;" href="{% url "news:rss" %}"><img src="{% static "images/rss.png" %}" alt="{% trans "RSS Feed" %}"/></a>
    <a style="float: right; padding: 5px;" href="{{ alert.subscribe_url }}"><img src="{% static "images/email.png" %}" alt="{% trans "Get Email Notifications" %}"/></a>
  {% else %}
    <a style="float: right; padding: 5px;" href="{% url "team_blog_rss" team=team.slug %}"><img src="{% static "images/rss.png" %}" alt="{% trans "RSS Feed" %}"/></a>
  {% endif %}
  {{ block.super }}
{% endblock %}

{% block "newscontent" %}
  {% if not team %}
  <div class="pagination">
    <span class="current page">{% trans "News" %}</span>
    {% for date in date_list %}
      <a href="{% url "news:archive_year" year=date|date:'Y'  %}" class="page">{{ date|date:"Y" }}</a>
    {% endfor %}
  </div>
  {% endif %}

  <h1>{% block title %}{% if not team %}{{ title }}{% else %}
    {% blocktrans with team=team %}Blogs for {{ team }}{% endblocktrans %}
  {% endif %}{% endblock %}</h1>
  {% for object in latest %}
    {% include "cmsplugin_news/list_item.html" %}
  {% empty %}
    <div class="article">
      <h2>{% trans "No Articles" %}</h2>
      <p>{% trans "There are no articles in this section." %}</p>
    </div>
  {% endfor %}
{% endblock %}
