{% load i18n jsonify %}

<h3>{% if title %}{{ title }}{% else %}{% trans "Count" %}{% endif %}</h3>

{% if nodata %}
    <div class="ct-chart ct-cc-{{ name }}" style="display: block; height: 150px; width: 100%; text-align: center; padding-top: 50px; background-color: #eee;">
       <h3>{% trans "No Data" %}</h3>
    </div>
{% else %}
<div class="ct-chart ct-cc-{{ name }}"></div>

<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        var dj_options = {{ options|jsonify }};
        new Chartist.{% if chart == 'bar' %}Bar{% else %}Line{% endif %}('.ct-cc-{{ name }}', {
            series: [{% for name, values in series %}
{
    "name": "{{ name|default:"Data" }}",
    "data": {% if values %}{{ values|jsonify }}{% else %}[]{% endif %},
},{% endfor %}],
            labels: {% if labels %}{{ labels|jsonify }}{% else %}[]{% endif %},
        }, {
            axisY: {
                labelInterpolationFnc: function(value, index, chart) {
                    if(dj_options.units == "fileSize" && value != 0) {
                        return value.fileSize(true);
                    }
                    return value;
                },
            },
            {% for name, value in options.items %}{{name}}: {{ value|jsonify }},
            {% endfor %}
            height: 300,
            fullWidth: true,
            plugins: [
                Chartist.plugins.tooltip(),
                Chartist.plugins.legend({
                    {% if legend %}legendNames: {{ legend|jsonify }},{% endif %}
                }),
            ],
        });
    });
</script>
{% endif %}

