{% extends 'base.html' %}
{% load i18n static %}

{% block title %}{% trans "User Profile" %} | {{ object.name }}{% endblock %} 

{% block "css" %}{{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "css/profile.css" %}"/>
{% endblock %}
{% block body-classes %}person {% endblock %}
{% block supercontent %}
  <div id="bread">
    {% include "breadcrumbs.html" %}
  </div>
  <div id="profile">
    {% block "profile" %}{% endblock %}
    {% block "fullbio" %}
      <h1 id="name">{% block "name" %}{{ object.name }}{% endblock %}</h1>
      <div id="bio">{% block "bio" %}{{ object.intro|linebreaks }}{% endblock %}</div>
    {% endblock %}
  </div>

  {% block "allcontent" %}
    <div id="right-sidebar">
      <div id="sidecategory">{% block "side" %}{% endblock %}</div>
    </div>

    <div id="left-column">
      {% block "content" %}{% endblock %}
    </div>
  {% endblock %}
{% endblock %}
