{% extends 'modal.html' %}
{% load i18n %}

{% block "dialog-body" %}
  {% if form %}
    <p>{% trans "Please be very careful when messaging all team members, YOU MUST include a reply email address in the BODY of your message otherwise users will reply to the website administrator and you will never see any response from users." %}
  {% endif %}
{% endblock %}

{% block "form-buttons" %}
  {% if request.GET.next %}
  <a href="{{ request.GET.next }}" class="btn btn-default">{% trans "Cancel" %}</a>
  {% endif %}
  <button id="moreInfo" class="btn btn-primary" type="submit" name="save" value="1">{% trans "Send To All Members" %}</button>
{% endblock %}
