{% load menu_tags %}
{% load i18n %}
<li id="tab_languages" class="dropdown">
  {% get_language_info for LANGUAGE_CODE as lang %}
  <p title="{{ lang.name }}">{{ lang.name_local }}</p>
  <div>
    {% for language in PUBLIC_LANGUAGES %}
      {% language language.0 %}
      <p><a class="{% if LANGUAGE_CODE == language.0 %}selected{% endif %}" href="{% if language.0 == 'en' %}/en{% endif %}{% page_language_url language.0 %}">{{ language.1 }}</a></p>
      {% endlanguage %}
    {% endfor %}
  </div>
</li>
