{% load i18n markdown_deux_tags %}

{% for agendum in oce.agenda.all %}
  {% if forloop.first %}<h2>Agenda for {{ oe.start|date:"l jS M Y" }}</h2><ul class="agenda">{% endif %}
      <li class="{% if agendum.is_complete %}{% if agendum.deferred_to %}copied{% else %}complete{% endif %}{% elif agendum.deferred_to %}deferred{% elif oce.is_finished %}ignored{% else %}open{% endif %}"/>{{ agendum }} - {{ agendum.creator }}
        {% if not agendum.is_complete and agendum.deferred_to %}<a href="{{ agendum.deferred_to.eoc.get_absolute_url }}">⏩</a>
    {% elif agendum.link %}<a href="{{ agendum.link }}">🔗</a>
    {% endif %}
  </li>

  {% if forloop.last %}</ul>{% endif %}
{% empty %}
{% endfor %}

{% if oce.minutes and oce.is_finished %}
  <h2>{% trans "Meeting Minutes" %}</h2>
  <p>{{ oce.minutes|markdown }}</p>
{% endif %}
